extends layout

block main
    p
        a.button(href='books/new') Create New Book
    form#search(method='post' action='/books')
        input#search(type='text' name='search' placeholder='Search for a book' required)
        input(type='submit' value='Search')
    if(action)
        h3.message '#{title}' was #{action}.
    else if (searchMessage)
        h3.message= searchMessage
    else if(totalBooks)
        p.count There are #{totalBooks} books in this library.
    
    if(books)
        table
            thead
                tr
                th Title
                th Author
                th Genre
                th Year
            tbody
                each book in books
                    tr
                        td
                            a(href=`/books/${book.id}`)= book.title
                        td= book.author
                        td= book.genre
                        td= book.year
    else
        h3.message= 'No books in our database met your search.'

    if(pageCount > 1)
        .pagination
            ul
                - var n = 1;
                while n <= pageCount
                    a(href=`/books?page=${n}`)
                        if(n == page)
                            li.active= n++
                        else
                            li= n++

    if(searchMessage)
        button(type='button')
            a(href='/books') View list of all books